# macOS system files
.DS_Store

# R and RStudio
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj

# R Markdown and related outputs
*.html
*.nb.html
*.utf8.md
*.knit.md

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/

# Logs
*.log

# Temporary/backup files
*.tmp
*~